* {
  margin: 0px;
  box-sizing:border-box;
}

body {
  font-family: verdana, geneva, sans-serif;
  margin: 0;
}

.button {
    margin: 10px auto;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: black;
    background-color: #ddd;
    padding: calc(5px + 0.2vw);
    border-radius: calc(3px + 0.5vw);
}

.main-nav {
  font-size: 14pt;
  background-color: white;
  grid-area: nav;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-element {
  margin-right: 25px;
  color: black;
  text-decoration: none;
}

.main-footer {
  padding: 5px 10px 10px 10px;
  text-align: center;
  color: white;
  background-color: darkgray;
  font-size: calc(6pt + 0.5vw);
}

@media (min-width: 768px) {
    .main-footer {
        font-size: 11pt;
    }
}