/* CSS files add styling rules to your content */

* {
  margin: 0px;
}

body {
  font-family: verdana, geneva, sans-serif;
  margin: 0;
}

.header {
  grid-area: main-header;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100vw;
  grid-template-rows: 40px 40px;
  grid-template-areas:
    "nav"
    "bar";
  position: fixed;
  background-color: white;
    z-index: 1;
}

.main-nav {
  font-size: 14pt;
  background-color: white;
  grid-area: nav;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-element {
  margin-right: 25px;
  color: black;
  text-decoration: none;
}

.map {
  grid-area: main;
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    z-index: 0;
}

.svg-content {
    display: inline-block;
    top: 0;
    left: 0;
}

.path {
  grid-area: bar;
  padding: 10px 10px 0px 10px;
  background-color: white;
  display: flex;
}

.path-element {
  padding-right: 5px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.path-element:active {
    overflow: visible;
    white-space: normal;
}

.path-element:hover {
    overflow: visible;
    white-space: normal;
}

.news {
  grid-area: sidebar-1;
  font-size: 10pt;
  padding: 0px 5px 0px 10px;
}

.results {
  font-size: 10pt;
  grid-area: sidebar-2;
  padding: 0px 10px 0px 5px;
  display: flex;
  flex-wrap: wrap;  
}

.results-item {
    padding: 0px 5px 0px 0px;
    flex-shrink: 1;
}

.results-item p {
    text-align: center;
}

.results-text {
    text-decoration: none;
    color: black;
}

.main-footer {
  grid-area: footer;
  padding: 5px 10px 10px 10px;
  text-align: center;
  color: white;
  background-color: darkgray;
  font-size: calc(6pt + 0.5vw);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 90px 1fr 1fr 30px;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "main-header  main-header"
    "main   main"
    "sidebar-1  sidebar-2"
    "footer  footer";
}

/*.wrapper > * {
    border: 2px solid rgb(137,153,175);
}*/

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 90px 2fr 3fr 30px;
    grid-template-areas:
      "main-header  main-header"
      "main  sidebar-1"
      "main  sidebar-2"
      "footer  footer";
  }
  .news {
    overflow-y: scroll;
    padding-right: 10px;
  }
  .results {
    overflow-y: scroll;
    padding-left: 10px;
  }
    .main-footer {
        font-size: 11pt;
    }
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #ccc;
}

#states .active {
  fill: none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#counties {
  fill: #ccc;
}

#counties .active {
  fill: none;
}

#county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#cities .active {
    fill: #58D3FF;
    r: 1;
}

.city {
    fill: #bbb;
    r: 0.5;
}

.city:hover {
    fill: #58D3FF;
    r: 1.5;
}